.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-family: Montserrat;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #3a6027;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #7cf448;
  border: 2px solid #7cf448;
  scale: 1.1;
  box-shadow: 0 0px 20px RGB(58, 96, 39, 0.4);
}

.button:active {
  scale: 1;
}
