@font-face {
  font-family: 'Typographica';
  src: url('./assets/fonts/Typographica-Blp5.ttf');
}

:root {
  font-family: Montserrat;
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;
  
  /* Colors */
  --Purple: #5332D8;
  --Orange: #FF7D00;
  --Degradado: linear-gradient(299deg, #5332D8 1.89%, #7B32D8 96.21%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  font-family: Typographica;
}

h1, h2, h3, h4{
  word-spacing: 0.6vw;
}


#app {
  text-align: center;
}

.swal-button {
  background-color: var(--Orange) !important;
  border-radius: 50px !important;
  box-shadow: none !important;
  border: solid 2px transparent !important;
  transition: all 0.25s;
  &&:focus{
    box-shadow: none !important;
  }
  &&:hover{
    background: rgb(250, 235, 225) !important;
    color: var(--Orange) !important;
    border: solid 2px var(--Orange) !important;
  }
}