.detailCard{
    display:flex;
    align-content: center;
    justify-content: center;
    width: 95vw;
    color: #F5F5F5;
    border-radius: 1.5vw;
    font-family: Montserrat;
}

.info{
    padding-left: 5vw;
    font-size: 20px;
}

.info h1{
    font-family: Montserrat;
    font-weight: 800;
    color: #7cf448;
    
}

.info h3{
    color: ;
    margin-right: 1.5vw;
    font-family: Montserrat;
    font-weight: 600;
}

.info h4{
    font-family: Montserrat;
    font-weight: 300;
}

.img{
    border-radius: 1.5vw;
    width: 40vw;
}

.origin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lastSeen{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gender{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.species{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status{
    display: flex;
    flex-direction: row;
    align-items: center;
}