.container{
    display: flex;
    flex-direction: row;
    padding: 6rem 6rem 0 6rem;
    gap: 6rem;
}

.aside{
    width: 40%;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .1rem;
}

.header h2{
    font-family: Typographica;
    font-size: 3.5rem;
    font-weight: 400;
    color: #5332D8;
    margin: 0;
}

.header p{
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 500;
    color: #10121E;
    text-align: left;
    margin: 0;
}

.nextSteps{
    display: flex;
    flex-direction: column;
}

.nextSteps h4{
    font-family: Montserrat;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
    color: #5332D8;
    margin: 0 0 1.5rem 0;
    word-spacing: 0vw;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0 0 0 1rem;
}

.listItem{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.listItem p{
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    color: #5332D8;
}