


.dasboardGeneral{   
    display: +flex;  
    justify-content:center;   
    align-items: center;

}

.dashboardCards{      
    color:#F5F5F5;    
    display: flex;    
    flex-wrap: wrap;    
    justify-content: space-around;

}
