.Overlay{
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 4;
}

.ModalContainer{
    width: 99vw;
    position: absolute;
    top: 0%;
    left: 0%;
}

.CloseButton{
    z-index: 1;
    position: absolute;
    margin: 2vh;
    top: 0;
    right: 0;
    scale: 1.1;
}

.Modal{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: white;
    text-align: left;
    font-family: Montserrat;
}

.Header{
    height: 55vh;
    margin: 0;
    padding: 0 0 5vh 10vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 19.05%, rgba(0, 0, 0, 0.00) 100%);
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
}

.Header h1{
    font-weight: bold;
    font-family: Montserrat;
    color: white;
    font-size: 60px;
}

    .HeaderTitle{
        margin-bottom: 0;
    }

    .HeaderTitle h1, .HeaderTitle h3, .InfoDescription h2, .InfoTools h2{
        word-spacing: 0vw;
    }

    .BackgroundImage{
        animation: scrollImages 30s ease-in-out infinite; 
        width: 99vw;
    }

        .BackgroundImage img{
            width: 99vw;
        }

        .HeaderBackground {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        
        @keyframes scrollImages {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(calc(-90% + 55vh));
            }
            100% {
                transform: translateY(0);
              }
          }

.Body{
    height: 45vh;
    display: flex;
    flex-direction: column;    
    background-color: #10121E;
    margin: 0;
    padding: 5vh 10vh;
}

    .Info{
        display: flex;
    }

        .InfoDescription{
            width: 45vw;
        }

        .InfoTools{
            margin: 0 10vw;
        }

            .ToolLogo{
                width: 2vw;
                margin: 0 2vh 3vh 0;
            }
    
    .ButtonDiv{
        margin: 0 auto;
        width: 20vw;
        display: flex;
        position: absolute;
        top: 90vh;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 5;
        justify-content: space-around;
    }