.card {
    width: 300px;
    height: 574px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    position: relative;
  }
  
  .card-title {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    color: #33333F;
    text-align: left;
  }
  
  .card-subtitle {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #33333F;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  
  .card-description{
    width: 298px;
    height: 146px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--Grey-1, rgba(0, 0, 0, 0.70));
    text-align: left;
    margin-top: 60px;
  }

  .card-description2 {
    width: 298px;
    height: 146px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--Grey-1, rgba(0, 0, 0, 0.70));
    text-align: left;
    margin-top: -100px;
  }

  .card-description3 {
    width: 298px;
    height: 146px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--Grey-1, rgba(0, 0, 0, 0.70));
    text-align: left;
    margin-top: -100px;
  }

  .card-description4 {
    width: 298px;
    height: 146px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--Grey-1, rgba(0, 0, 0, 0.70));
    text-align: left;
    margin-top: -100px;
  }

  .card-description5 {
    width: 298px;
    height: 146px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: var(--Grey-1, rgba(0, 0, 0, 0.70));
    text-align: left;
    margin-top: -120px;
  }
  
  .card-price {
    width: 158px;
    height: 30px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    color: var(--background, #10121E);
    position: absolute;
    bottom: 100px;
    left: calc(50% - (158px / 2));
  }
  
  .card-button {
    width: 198.492px;
    height: 56.026px;
    border-radius: 25.612px;
    background: var(--Orange, #FF7D00);
    position: absolute;
    bottom:30px;
    left: calc(50% - (198.492px / 2));
    color: var(--white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size:20px;
    font-weight:500;
  }