.buttonBack{
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 0 0;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    display: flex;
    width: 130px;
    height: 36.866px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 35px;
    border: none;
    background: #FFF;
    color: var(--Purple);
    cursor: pointer;
    transition: all 0.3s;
    border: solid 2px var transparent;
}

.buttonBack:hover{
    background-color: rgb(234, 228, 255);
    border: solid 2px var(--Purple);
}

.buttonIcon {
    margin-right: 10px;
    margin-top: 2px
}
  