.card {
  width: 23vw;
  height: 75vh;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 5px 5px 30px #bebebe, -5px -5px 30px #ffffff;
  margin-bottom: 5vh;
  transition: all 0.5s;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
}

.card:hover{
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.header{
  background-color: #EDEDEF;
  height: 20%;
  height: 12vh;
  margin: 3vh;
  border-radius: 20px;
}

.headerFigure{
  background-color: #2D2D2D;
  width: 70%;
  height: 100%;
  border-radius: 20px 50px 50px 20px;
  text-align: left;
  padding: 2vh 0 0 3vh;
  box-sizing: border-box;
}

  .title{
    font-size: 28px;
    margin: 0;
    font-weight: 700;
    color: white;
  }
  
  .subtitle {
    color: white;
    text-align: left;
    margin: 0;
  }

.list{
  margin: 0 3vh 3vh 3vh;
  text-align: left;
}

  .list li{
    margin: 2vh 0;
  }

.price {
  text-align: center;
  font-size: 28px;
  margin: 0 0 2vh 0;
  font-weight: 600;
}

.footer{
  margin-top: auto;
  margin-bottom: 5vh;
}

.btn{
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.3s;
}

.card:hover .btn {
 transform: translateY(0%);
 opacity: 1;
}